@font-face {
    font-family: 'canopee';
    src: url('../fonts/canopee.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'domaine';
    src: url('../fonts/Domaine.ttf');
}

@font-face {
    font-family: 'editorial-light';
    src: url('../fonts/editorial-light.ttf');
}

$background: #C4BDB3;

.main{
    background-color: #222;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: $background;
    position: relative;
    overflow: hidden;
    h1{
        font-size: 33vw;
        font-family: 'canopee';
        font-weight: 100;
        background-color: #1C1C19;
        color: $background;
        line-height: 28vw;
        width: 95%;
        margin: 0 auto;
    }
}

.nav{
    height: 5.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vh 2vw;
    border-bottom: 1px solid #222222;
    font-family: 'editorial-light';
    color: #505050;
    .title{
        height: 1.4rem;
    }
    h5{
        font-size: 1rem;
        font-weight: 100;
    }
    .menu{
        width: 3rem;
        text-align: right;
    }
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
    .Hero_Container-1,.Hero_Container-3{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span{
            background-color: #c03f13;
            color: rgb(209, 209, 209);
            font-weight: 100;
            font-size: 1.3rem;
            padding: 0.5px 2px;
            border-radius: 4px;
        }
        h4{
            font-size: 1.6rem;
            font-weight: 500;
            margin: 1rem 0 0.5rem 0;
            font-family: 'canopee';
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: 100;
            font-family: 'editorial-light';
        }
    }
    .container_img{
        height: 60%;
        width: 100%;
        overflow:hidden;
        border: 1px solid #444444;
        & img{
            height: 100%;
            width: 120%;
            object-fit: cover;
            transition: all ease 0.5s;
        }
        &:hover img{
            scale: 1.1;
        }
    } 
    .Hero_Container-2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        align-content:baseline;
        width: 30%;
        padding-bottom: 3vw ;
        height: 100%;
        border-right: 1px solid #727272;
        border-left: 1px solid #727272;
        text-align: center;
        h2{
            font-family: 'canopee';
            font-size: 4rem;
            color: #333333;
            font-weight: 100;
        }
        h3{
            font-family: 'editorial-light';
            font-size: 2.3rem;
            font-weight:300;
            color: #333333;
            margin: 1rem 0 2rem 0;
        }
        h6{
            font-weight: 100;
            font-size: 1.3rem;
            color: #444444;
        }
        span{
            font-weight: 100;
            font-family: 'canopee';
            color: #444444;
        }
    }
}

.page2{
    overflow: hidden;
    background-color: $background;
    display: flex;
    padding: 1.5rem 2rem;
    overflow: hidden;
    position: relative;

    .p2_left{
        width:  35%;
        padding-right: 3rem;
        color: #333333;
        border-right: 1px solid #444;
        h2{
            font-family: 'canopee';
            font-size: 7.5vw;
            line-height: 9vw;
            font-weight: 100;
            color: #222;
        }
        h2 span{
            font-size: 12vw;
            font-weight: 500;
        }
        img{
            height: 70vh;
            width: 30vw;
            object-fit: cover;
            border: 1px solid #444444;
        }
        p{
            font-size: 1.8rem;
            font-family: 'editorial-light';
            margin-top: 2rem;
        }
        p::first-letter{
            font-size: 8vw;
            line-height: 3vw;
            padding: 1.5vw 0.4vw;
            background-color: #252525;
            float: left;
            color: $background;
            margin: 0.5vw 0.6vw 0 0;
            font-family: 'canopee',sans-serif;
            

        }
    }
    .p2_right{
        width: 80%;
        padding: 3vw 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2vw;
        img{
            width: 60vw;
            height: 80vh;
            // width: 58vw;
            object-fit: cover;
            border: 1px solid #444444;
        }
        h1{
            font-family: 'canopee';
            font-size:6vw;
            line-height: 6.8vw;
            font-weight: 100;
            color: #252525;
            text-decoration: line-through 0.1px #333;
            width: 90%;
        }
    }
}

.page3{
    background-color: $background;
    display: flex;
    align-items:normal;
    justify-content:space-around;
    overflow: hidden;
    .website-text{
        height: 15vw;
    }
    h1{
        font-size: 25vw;
        font-family: 'canopee';
        font-weight: 50;
        background-color: #1C1C19;
        color: $background;
        width: fit-content;
        stroke-miterlimit: 10;
        padding: 0 2vw;
        margin-top: -1vw;
    }
    img{
        width: fit-content;
    }
}

.page4{
    background-color: $background;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    width: 100%;
    padding: 4rem 0;
    .p4_left{
        width: 65%;
        border-right: 1px solid #444;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height: fit-content;
        .p4_topContent{
            display: flex;
            padding:  0 2vw 2vw 2vw;

            .p4_top-left{
                border-right: 1px solid #444;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width:25vw;
                h1{
                    font-family: 'canopee';
                    font-size: 4.5vw;
                    font-weight: 500;
                    letter-spacing: -5px;
                    color: #222;
                }
                h4{
                    font-family: 'editorial-light';
                    font-size: 2.5rem;
                    font-weight: 200;
                    color: #222;
                    width: 90%;
                }
                h6{
                    font-weight: 100;
                    font-size: 1.3rem;
                    color: #282828;
                }
                span{
                    font-weight: 100;
                    font-family: 'canopee';
                    color: #282828;
                }
            }
            .p4_top-right{
                width: 30vw;
                height: 40vh;
                padding: 0 0 0 2rem;
                display: flex;
                flex-direction: column;
                .top_right-img{
                    height: 150vh;
                    width: 30vw;
                    overflow: hidden;
                }
                img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid #444444;
                    object-fit: cover;
                    transition: all ease 0.5s;
                }
                img:hover{
                    scale: 1.1;
                }
                h4{
                    font-family: 'canopee';
                    font-size: 2.5vw;
                    font-weight: 500;
                    color: #282828;
                    padding-top: 1vw;
                }
                p{
                    font-family: 'editorial-light' ;
                    color: #282828;
                    font-size: 1.2vw;
                    font-weight: 500;
                }
            }   
        }
    img{
        width:60vw;
        border: 1px solid #444444;
    }
    
    }
    .p4_right{
        width: 35vw;
        display: flex;
        flex-direction: column;
        padding: 0 2vw;
        gap: 10vw;
        justify-content: flex-start;
        h1{
            font-family: 'canopee';
            font-size: 7vw;
            font-weight: 500;
            letter-spacing: -5px;
            color: #222;
        }
        h1 span{
            font-size: 12vw;
        }
        h5{
            font-size: 1.8vw;
            font-family: 'editorial-light';
            font-weight: 100;
            color: #222 ;
        }
        .first-letter::first-letter{
            font-size: 6vw;
            line-height: 3vw;
            padding: 1.5vw 0.6vw;
            background-color: #252525;
            float: left;
            color: $background;
            margin: 0.5vw 1vw 0 0;
            font-family: 'canopee',sans-serif;
        }
    }
    
    .oval{
        height: 20vh;
        width: 30vw;
        border-radius: 50%;
        border: 0.5px solid #252525;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #CAC1B6;
        h5{
            font-family: 'canopee';
            color: #252525;
            font-size: 5vw;
        }
    }
   
}

.awards-banner{
    background-color: $background;
    height: fit-content;
    width: 100vw;
    padding:2vw 2vw; 
    overflow: hidden;

    
    .awards_inner{
    display: flex;
    justify-content: space-between;
    color: #252525;
    gap: 2.5vw;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    }
    
    .award_1,.award_2,.award_3,.award_4{
        display: flex;
        align-items:center;
        gap: 1vw;
        h5{
            font-family: 'canopee';
            font-size: 10vw;
            font-weight: 100;
        }
        .award_section-1,.award_section-2,.award_section-3,.award_section-4{
            gap: 0.5rem;
            p{
                font-family: 'editorial-light';
                font-size: 1.7vw;
            }
            h5{
                font-family: 'canopee';
                font-weight: 100;
                font-size: 5vw;
                letter-spacing: -3px;
            }
        }
    }
   

}

.page5{
    width: 100vw;
    background-color: $background;
    padding: 2vw 2vw;
    color: #222;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    .p5_top{
        display: flex;
        justify-content: space-between;
        .p5_top-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .p5_top-innerTop{
                display: flex;
                align-items:self-end;
                justify-content:flex-start;
                gap: 1vw;
                height:20vw;
                img{
                    height: 100%;
                    width: 30%;
                    border: 1px solid #252525;
                }
                h1{
                    font-family: 'canopee';
                    font-size:18vw;
                    font-weight: 500; 
                    line-height: normal;
                    transform: scaleY(1.5);
                }
            }
            .p5_top-innerBottom{
                h1{
                    font-family: 'canopee';
                    font-size: 25vw;
                    line-height: 100%;
                    letter-spacing: 1vw;
                }
            }
        }
        .p5_top-right{
                width: 45vw;
                img{
                    width: 100%;
                    border: 1px solid #252525;

                }
        }
    }
    .p5_center{
        display: flex;
        align-items:self-end;
        justify-content:stretch;
        gap: 5vw;
        img{
            width: 25%;
            height:max-content;
            border: 1px solid #252525;

        }
        h1{
            font-family: 'canopee';
            font-size: 20vw;
            letter-spacing: 1rem;
            line-height: normal;
            transform: scaleY(1.4);
        }
    }
    .p5_bottom{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        h1{
            width: fit-content;
            font-family: 'canopee';
            font-size: 22vw;
            letter-spacing: 10px;
            line-height: 0.8;
            background-color: #222222;
            color: $background;
            padding: 1rem;

        }

        .p5_bottom-right{
            display: flex;
            flex-direction: column;
            
            
        }
        .p5_para{
            font-family: 'editorial-light';
            font-size: 1.8vw;
            a{
                text-decoration: none;
                color: #222;
            }
        }
        h5{
            font-family: 'canopee';
            font-size: 6vw;
            font-weight: 100;
        }
    }
    
}

.page6{
    background-color: $background;
    height: fit-content;
    
}
footer{
    background-color: $background;
    padding: 2rem;
    .footer{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #252525;
        padding-top: 2rem;
        color: #252525;
        .footer-left{
            display: flex;
            justify-content:space-between;
            align-items:flex-start;
            gap: 1rem;
            span{
                font-family: 'canopee';
                font-size: 1.5vw;
                font-weight: 100;
            }
            img{
                width: 1.5rem;
                height: fit-content;
            }
            p{
                font-family: 'editorial-light';
                font-size: 1.5vw;
            }   
        }
        .footer-right{

            ul{
                display: flex;
                gap: 2rem;
                .l1{
                    list-style-type: none;
                }
                li{
                font-family: 'canopee';
                font-size: 1.3vw;
                }
            }
            
        }
    }
}
.rotate{
    display: none;
}


@media screen and (max-width:900px){
    .main{
        display: none;
    }
    .rotate{
    z-index: 9999999;
    width: 100%;
    height: 100vh;
    background-color: #cdc6be;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    font-family: 'editorial-light';
    }
    .rotate-desc{
    text-align: center;
    font-size: 4vw;
    line-height: 4.5vw;
    }
    
}